* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./Фон.png');
    background-size: cover;
}

.game {
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 15px;
    padding-inline: 1.5%;
    padding-block: 2%;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.main__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose {
    margin-top: 4%;
    display: block;
}

input {
    display: block;
    margin-top: 4%;
    height: 100%;
    width: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(0,0,0, .2);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

input::placeholder {
    color: black;
}

input:focus {
    border: 2px solid black;
}

button {
    display: block;
    margin-top: 4%;
    height: 100%;
    width: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(0,0,0);
    border-radius: 40px;
    font-size: 20px;
    padding: 20px 45px 20px 20px;
    cursor: pointer;
    letter-spacing: 2px;
}

button:hover{
    color: rgba(28, 194, 83, 0.7);
}

.table {
    display: grid;
    min-width: 500px;
    max-width: 1000px;
    margin-block: 20px;
    gap: 10px;
    grid-template-columns: 1;
    grid-template-rows: 1;
}

.card {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 194, 83, 0.5);
    border-radius: 5px;
    transition: .3s;
    font-size: 30px;
    cursor: pointer;
}
  
.card:hover {
    background-color: rgba(28, 194, 83, 1);
}

.flipped-icon {
    display: none;
    pointer-events: none;
}

.default-icon {
    display: block;
    pointer-events: none;
}

.flip {
    background: rgba(28, 194, 83, 1);
    transform: perspective(100px) rotateY(180deg);
    user-select: none;
}

.successfully {
    background-color: rgb(186, 52, 219);
    transform: scale(0.95);
}

.confetti {
    position: absolute;
    width: 80%;
    height: 89.5vh;
    z-index: -1;
    top: 0;
    left: 10%;
}

@keyframes moveDown {
    100% {
      top: 110%;
      transform: rotate(360deg);
    }
  }
